<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete</title>
  </head>
  <body>
    <h1>completed</h1>
    <form method="post" action="/api/blur_download">
      <div>
        <label>blur completed</label>
        <input type="submit" value="download" />
      </div>
    </form>
    <form method="post" action="/api/grayscaled_download">
      <div>
        <label>grayscaled completed</label>
        <input type="submit" value="download" />
      </div>
    </form>
    <form method="post" action="/api/sepia_download">
      <div>
        <label>sepia completed</label>
        <input type="submit" value="download" />
      </div>
    </form>    
  </body>
</html>
