<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    Please upload your zip file here!
    <form action="/api/upload" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <input type="file" name="file">
          <input type="submit" value="Submit">            
        </div>
      </form>
</body>
</html>